.container {
    background-image: url("img/background_full.png");
    /* это что вообще такое? */
    background-position: center;
    /* весь элемент будет полностью заполнен изображением */
    background-size: cover; 
}